@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box; /*padding, margin, border doesn't affect width?*/
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height:100vh;
    overflow:hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    margin: 0 .3vw;
    flex: 0.5;
    transition: all 700ms ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card h3 {
    margin-left: 2vw;
    display: none;
}

.selected-card h3 {
    display: block;
}


.selected-card {
    flex: 5;
}

